extends layout

block content
	div(ng-app="MyApp" ng-controller="MyController")
		.row(style="text-align:right;")
			.col-xs-2.col-xs-offset-8(ng-show="group")
				label Secret: {{ secretNumber }}
			.col-xs-2(ng-show="group")
				button.btn.btn-info(type="button" ng-click="getHint()")
					| ?
		.row(style="margin-bottom:15px;")
			.col-sm-2
				label Group
				input.form-control(type="text" ng-model="group" ng-change="setSecretIndex()")
		.row
			.col-lg-4.col-lg-offset-4.text-center
				.panel.panel-default
					.panel-heading 
						h2 Enter Pin
					.panel-body
						input.pin-input(type="text" maxlength="1" ng-model="inputs[0]")
						input.pin-input(type="text" maxlength="1" ng-model="inputs[1]")
						input.pin-input(type="text" maxlength="1" ng-model="inputs[2]")
						input.pin-input(type="text" maxlength="1" ng-model="inputs[3]")
						button.btn.btn-default(type="button" ng-disabled="!isValid()" value="Unlock" style="margin:15px;" ng-click="unlockMessage()") Unlock

				.panel(ng-show="result" ng-class="{'panel-success': result.success, 'panel-danger': !result.success}")
					.panel-body
						h4(ng-bind-html="result.message")
		.row(ng-show="hint")
			.col-lg-4.col-lg-offset-4.text-center
				.panel.panel-default
					.panel-body
						p(ng-bind-html="hint")
