doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	body
		.container
			block content
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js")
		script(src="./javascripts/client.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.js")
